* {
  margin: 0;
  padding: 0;
}

.subtitle {
  font-family: "Oxygen", sans-serif;
  text-align: center;
  font-size: 17px;
  color:rgba(46,46,46,0.63);
  margin-bottom: 113px;
}

.title {
  text-align: center;
  font-family: "Lora", serif;
  font-size: 50px;
  color: #2E2E2E;
  margin-bottom: 20px;
  margin-top: 82px;
  letter-spacing: 2px;
}

.image{
  margin-bottom: 120px;
  width: 100%;
}

.text{
  margin: 0 auto 50px;
  width: 960px;
  font-family: "Oxygen", serif;
  font-size: 24px;
}

.article {
  margin-bottom: 150px;
}

.link-header{
  color:  #2E2E2E;
  font-size: 12px;
  font-family: "Oxygen", serif;
  text-decoration: none;
}

.link-footer{
  color:  rgba(255, 255, 255, 0.6);
  font-size: 11px;
  font-family: "Oxygen", serif;
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
}

.site-footer {
  background-image: url("images/photo.jpg");
  background-size: 100%;
  height: 89px;
}

.footer-logo path {
  fill: #ffffff;
}

.site-header {
  height: 74px;
  width: 100%;
}

.div-header {
  display: flex;
  align-items: center;
  height: 100%;
}

.nav-header {
  margin-left: auto;
  display: flex;
  margin-right: 250px;
  gap: 41px;
}

.header-logo {
  margin-left: 250px;
}

.footer-logo {
  margin-left: 250px;
  margin-top: 31px;
}


.div-footer {
  display: flex;
  align-items: center;
}

.nav-footer {
  display: flex;
  margin-left: auto;
  margin-right: 250px;
  margin-top: 31px;
}